body {
  background: #ebebeb;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.h-100 {
  height: 100%;
}

i:hover, input:hover {
  cursor: pointer;
}

.orange {
  color: #f26c4f;
}

@font-face {
  font-family: 'Nexa Heavy';
  src: url("../fonts/NexaHeavy.eot");
  src: url("../fonts/NexaHeavy.eot") format("embedded-opentype"), url("../fonts/NexaHeavy.woff") format("woff"), url("../fonts/NexaHeavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Regular';
  src: url("../fonts/NexaRegular.eot");
  src: url("../fonts/NexaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaRegular.ttf") format("woff"), url("../fonts/NexaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/Nexa-Light.eot");
  src: url("../fonts/Nexa-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Light.woff") format("woff"), url("../fonts/Nexa-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "ArialRegular"; */
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular.eot");
  src: url("../fonts/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold.eot");
  src: url("../fonts/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold.woff") format("woff"), url("../fonts/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBlack"; */
@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack.eot");
  src: url("../fonts/ArialBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBlack.woff") format("woff"), url("../fonts/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header-up {
  height: 67px;
  background: #373737;
}

.header_logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo:hover {
  cursor: pointer;
}

.logo {
  font-size: 30px;
  font-family: 'Nexa Heavy';
  color: white;
  margin-left: 18px;
}

.header-logo-square {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/logo_square.png) no-repeat;
  line-height: 67px;
  width: 80px;
  margin-right: 20px;
}

.header-logo-tri {
  position: relative;
  left: 12px;
  background: url(../img/logo_triangle.png) no-repeat;
  width: 100%;
}

.logo_text {
  font-size: 18px;
  font-family: 'Nexa Regular';
  color: white;
}

.field_selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.field_selection input {
  border: none;
  width: 145px;
  padding-left: 45px;
  font-size: 14px;
  font-family: 'Nexa Regular';
  color: #959595;
  font-weight: bold;
  position: relative;
}

.select-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select {
  width: 35px;
  height: 35px;
  background: #ebebeb;
  border-left: 1px solid lightgrey;
  position: relative;
}

.contact-item {
  margin-left: 35px;
}

.icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: grey;
  font-size: 12px;
}

.arrow_up {
  top: 12px;
  color: grey;
  cursor: pointer;
}

.arrow_down {
  bottom: 18px;
  color: grey;
  cursor: pointer;
}

.news-letter-item {
  position: relative;
}

.news-letter-item .fa-map-marker-alt {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f26c4f;
}

.contact-item {
  position: relative;
}

.contact-item .fa-clock {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f26c4f;
}

.header-middle {
  height: 70px;
  background: #474747;
}

.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_nav ul li {
  margin-right: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_nav ul li:not(:last-child):after {
  position: absolute;
  content: '';
  width: 2px;
  height: 12px;
  background: grey;
  right: -25px;
  top: 33px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_nav ul li:not(:last-child):after:last-child {
  display: none;
}

.main_nav ul li a {
  color: #fff;
  font-family: 'Nexa Light';
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid rgba(242, 108, 79, 0);
  border-top: 4px solid rgba(242, 108, 79, 0);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.main_nav ul li a.active_link {
  border-bottom: 4px solid #f26c4f;
}

.main_nav ul li a i {
  position: static;
}

.header-middle_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-icon {
  color: #f26c4f;
  margin: 0 35px;
}

.quickLinks {
  color: #ffffff;
  font-family: 'Nexa Light';
  margin-right: 10px;
  font-size: 12px;
}

.header-link {
  margin-right: 45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 27px;
  background: grey;
  right: -25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-link i {
  color: #f26c4f;
}

.header-middle_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-middle_dropdown_text {
  color: #ffffff;
  font-family: 'Nexa Light';
  font-size: 12px;
}

.dropdown {
  background: transparent;
  border-left: 1px solid transparent;
}

.Portfolio_______________Services_______________ {
  font-size: 12px;
  font-family: "Nexa";
  color: white;
  font-weight: bold;
  line-height: 5.917;
  position: absolute;
  left: 384.937px;
  top: 66.498px;
  z-index: 420;
}

.Quicklinks {
  font-size: 12px;
  font-family: "Nexa";
  color: #d5d5d5;
  font-weight: bold;
  line-height: 5.917;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.21);
  position: absolute;
  left: 949.937px;
  top: 135.49px;
  z-index: 430;
}

.header-down {
  height: 70px;
}

.search-field {
  width: 300px;
  padding: 20px;
}

.news-letter-item {
  position: relative;
}

.header-down__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.search_input {
  position: relative;
  margin-right: 10px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.04);
}

.search_findly {
  position: relative;
  height: 54px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.04);
}

.search_input input {
  padding: 20px;
  width: 300px;
  outline: none;
  border: none;
}

.search_input i {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search_findly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_findly input {
  padding: 20px 20px 20px 36px;
  width: 100px;
  border: none;
  outline: none;
}

.search_findly i {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #8f8f8f;
}

.header-down__select {
  height: 54px;
  width: 57px;
  border-left: none;
  background: #8f8f8f;
  position: relative;
}

.search_findly i.header-down__select_arrow_up {
  left: 50%;
  top: 40%;
  color: #f8f8f8;
}

.search_findly i.header-down__select_arrow_down {
  left: 50%;
  top: 60%;
  color: #f8f8f8;
}

.socials, .twitter, .facebook, .rss, .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8f8f8f;
  font-family: 'Nexa Regular';
  margin-right: 25px;
}

.socials i {
  margin-right: 5px;
}

.socials, .mail {
  margin-right: 0;
}

.twitter, .facebook, .rss, .mail {
  cursor: pointer;
}

.header__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 630px;
          flex: 0 0 630px;
  height: 390px;
  background: url(../img/main-pic.png) no-repeat;
  background-size: cover;
  border-right: 9px solid #f26c4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.header__img:after {
  content: '';
  position: absolute;
  top: 50px;
  right: -39px;
  border: 15px solid transparent;
  border-left: 15px solid #f26c4f;
  z-index: 1;
}

.header__img-title_box {
  width: 365px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  opacity: 0.502;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004);
}

.header__img-title {
  font-size: 16px;
  font-family: 'Nexa Regular';
  color: white;
}

.header__card {
  padding: 50px 50px 0 40px;
  background-color: #373737;
  color: #ffffff;
  position: relative;
}

.header__card-title {
  font-size: 19px;
  font-family: 'Nexa Regular';
  color: white;
  margin-bottom: 30px;
}

.header__card-text {
  font-size: 12px;
  font-family: "ArialRegular";
  line-height: 1.917;
  color: #a7a7a7;
  margin-bottom: 25px;
}

.blog_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus {
  font-size: 36px;
  font-family: 'Nexa Regular';
  color: white;
  cursor: pointer;
}

.time_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a7a7a7;
}

.date_article {
  font-size: 12px;
  font-family: "Arial";
  color: #a7a7a7;
  margin-left: 10px;
}

.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.owl-nav button {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  width: 33px;
  height: 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #535353;
}

.owl-nav button:hover {
  background: #474747;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: #535353;
  color: #ffffff;
  border: none;
  padding: 0 !important;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel button.owl-dot:hover {
  background: #474747;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #535353;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
}
/*# sourceMappingURL=style.css.map */