* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.h-100 {
  height: 100%;
}

i:hover, input:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'Nexa Heavy';
  src: url("../fonts/NexaHeavy.eot");
  src: url("../fonts/NexaHeavy.eot") format("embedded-opentype"), url("../fonts/NexaHeavy.woff") format("woff"), url("../fonts/NexaHeavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Regular';
  src: url("../fonts/NexaRegular.eot");
  src: url("../fonts/NexaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaRegular.ttf") format("woff"), url("../fonts/NexaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/Nexa-Light.eot");
  src: url("../fonts/Nexa-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Light.woff") format("woff"), url("../fonts/Nexa-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-up {
  height: 67px;
  background: #373737;
}

.header_logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo:hover {
  cursor: pointer;
}

.logo {
  font-size: 30px;
  font-family: 'Nexa Heavy';
  color: white;
  margin-left: 18px;
}

.header-logo-square {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/logo_square.png) no-repeat;
  line-height: 67px;
  width: 80px;
  margin-right: 20px;
}

.header-logo-tri {
  position: relative;
  left: 12px;
  background: url(../img/logo_triangle.png) no-repeat;
  width: 100%;
}

.logo_text {
  font-size: 18px;
  font-family: 'Nexa Regular';
  color: white;
}

.field_selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.field_selection input {
  border: none;
  width: 145px;
  padding-left: 45px;
  font-size: 14px;
  font-family: 'Nexa Regular';
  color: #959595;
  font-weight: bold;
  position: relative;
}

.select-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select {
  width: 35px;
  height: 35px;
  background: #ebebeb;
  border-left: 1px solid lightgrey;
  position: relative;
}

.contact-item {
  margin-left: 35px;
}

.icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: grey;
  font-size: 12px;
}

.arrow_up {
  top: 12px;
  cursor: pointer;
}

.arrow_down {
  bottom: 18px;
  cursor: pointer;
}

.news-letter-item {
  position: relative;
}

.news-letter-item .fa-map-marker-alt {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f26c4f;
}

.contact-item {
  position: relative;
}

.contact-item .fa-clock {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f26c4f;
}

.header-middle {
  height: 70px;
  background: #474747;
}

.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_nav ul li {
  margin-right: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_nav ul li:not(:last-child):after {
  position: absolute;
  content: '';
  width: 2px;
  height: 12px;
  background: grey;
  right: -25px;
  top: 33px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_nav ul li:not(:last-child):after:last-child {
  display: none;
}

.main_nav ul li a {
  color: #fff;
  font-family: 'Nexa Light';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid rgba(242, 108, 79, 0);
  border-top: 4px solid rgba(242, 108, 79, 0);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.main_nav ul li a.active_link {
  border-bottom: 4px solid #f26c4f;
}

.main_nav ul li a i {
  position: static;
}

.header-middle_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-icon {
  color: #f26c4f;
  margin: 0 35px;
}

.quickLinks {
  color: #ffffff;
  font-family: 'Nexa Light';
  margin-right: 10px;
}

.header-link {
  margin-right: 45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 27px;
  background: grey;
  right: -25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-link i {
  color: #f26c4f;
}

.header-middle_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-middle_dropdown_text {
  color: #ffffff;
  font-family: 'Nexa Light';
}

.dropdown {
  background: transparent;
  border-left: 1px solid transparent;
}
/*# sourceMappingURL=style.css.map */