@font-face {
    font-family: 'Nexa Heavy';
    src: url('../fonts/NexaHeavy.eot');
    src: url('../fonts/NexaHeavy.eot') format('embedded-opentype'),
    url('../fonts/NexaHeavy.woff') format('woff'),
    url('../fonts/NexaHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa Regular';
    src: url('../fonts/NexaRegular.eot');
    src: url('../fonts/NexaRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NexaRegular.ttf') format('woff'),
    url('../fonts/NexaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa Light';
    src: url('../fonts/Nexa-Light.eot');
    src: url('../fonts/Nexa-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Light.woff') format('woff'),
    url('../fonts/Nexa-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* font-family: "ArialRegular"; */
@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/ArialRegular.eot");
    src: url("../fonts/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialRegular.woff") format("woff"),
    url("../fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ArialBold"; */
@font-face {
    font-family: "ArialBold";
    src: url("../fonts/ArialBold.eot");
    src: url("../fonts/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBold.woff") format("woff"),
    url("../fonts/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ArialBlack"; */
@font-face {
    font-family: "ArialBlack";
    src: url("../fonts/ArialBlack.eot");
    src: url("../fonts/ArialBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBlack.woff") format("woff"),
    url("../fonts/ArialBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
