@font-face {
    font-family: 'Nexa Heavy';
    src: url('../fonts/NexaHeavy.eot');
    src: url('../fonts/NexaHeavy.eot') format('embedded-opentype'),
    url('../fonts/NexaHeavy.woff') format('woff'),
    url('../fonts/NexaHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa Regular';
    src: url('../fonts/NexaRegular.eot');
    src: url('../fonts/NexaRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NexaRegular.ttf') format('woff'),
    url('../fonts/NexaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}